.kandidat-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.kandidat-card {
    min-width: 100%; /* tampil 1 kandidat per slide */
    box-sizing: border-box;
    padding: 20px;
    /* background: #ddd7d733; */
    border-radius: 8px;
    text-align: center;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.card {
    /* background: #fff; */
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    width: 200px;
}

.card .img img {
    max-width: 100%;
    border-radius: 6px;
}

.btn-vote button {
    background: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
}

.slider-btn.prev {
    left: 10px;
}

.slider-btn.next {
    right: 10px;
}
